{% extends 'portfolio/base.html' %}

{% block content %}
<div id="sky-about">
    {% include 'portfolio/background.html' %}
    <img src="/media/moon (2).svg" id="moon2">
</div>
<div class="about-me">
    <h1>About Me</h1>
    <div class="description">
        <p>A web developer with a passion for building funtional and asthetically-pleasing web apps.</p>
        <p>Detail-oriented person, team player, and problem solver. Love learning new things and working on ambitious projects!</p>
    </div>
</div>
{% endblock %}