<img src="/media/christmas-stars.svg" id="star33">
<img src="/media/christmas-stars.svg" id="star34">
<img src="/media/christmas-stars.svg" id="star35">
<img src="/media/christmas-stars.svg" id="star36">
<img src="/media/christmas-stars.svg" id="star37">
<img src="/media/christmas-stars.svg" id="star38">
<img src="/media/christmas-stars.svg" id="star39">
<img src="/media/christmas-stars.svg" id="star40">
<img src="/media/christmas-stars.svg" id="star41">
<img src="/media/christmas-stars.svg" id="star42">
<img src="/media/christmas-stars.svg" id="star43">
<img src="/media/christmas-stars.svg" id="star44">
<img src="/media/christmas-stars.svg" id="star45">
<img src="/media/christmas-stars.svg" id="star46">
<img src="/media/christmas-stars.svg" id="star47">
<img src="/media/christmas-stars.svg" id="star48">
<div id="star49"></div>
<div id="star50"></div>
<div id="star51"></div>
<div id="star52"></div>
<div id="star53"></div>
<div id="star54"></div>
<div id="star55"></div>
<div id="star56"></div>
<div id="star57"></div>
<div id="star58"></div>
<div id="star59"></div>
<div id="star60"></div>
<div id="star61"></div>
<div id="star62"></div>
<div id="star63"></div>
<div id="star64"></div>