<img src="/media/christmas-stars.svg" id="star1">
<img src="/media/christmas-stars.svg" id="star2">
<img src="/media/christmas-stars.svg" id="star3">
<img src="/media/christmas-stars.svg" id="star4">
<img src="/media/christmas-stars.svg" id="star5">
<img src="/media/christmas-stars.svg" id="star6">
<img src="/media/christmas-stars.svg" id="star7">
<img src="/media/christmas-stars.svg" id="star8">
<img src="/media/christmas-stars.svg" id="star9">
<img src="/media/christmas-stars.svg" id="star10">
<img src="/media/christmas-stars.svg" id="star11">
<img src="/media/christmas-stars.svg" id="star12">
<img src="/media/christmas-stars.svg" id="star13">
<img src="/media/christmas-stars.svg" id="star14">
<img src="/media/christmas-stars.svg" id="star15">
<img src="/media/christmas-stars.svg" id="star16">
<div id="star17"></div>
<div id="star18"></div>
<div id="star19"></div>
<div id="star20"></div>
<div id="star21"></div>
<div id="star22"></div>
<div id="star23"></div>
<div id="star24"></div>
<div id="star25"></div>
<div id="star26"></div>
<div id="star27"></div>
<div id="star28"></div>
<div id="star29"></div>
<div id="star30"></div>
<div id="star31"></div>
<div id="star32"></div>
<div class="star-container">
    <div class="shooting-star"></div>
    <div class="shooting-star2"></div>
    <div class="shooting-star3"></div>
    <div class="shooting-star4"></div>
    <div class="shooting-star5"></div>
</div>
<!-- <img src="/media/moon (2).svg" id="moon"> -->