{% extends 'portfolio/base.html' %}

{% block content %}
<div id="sky-skills">
    {% include 'portfolio/background.html' %}
    <img src="/media/moon (2).svg" id="moon3">
</div>
<div class="skills">
    <h1>Skills</h1>
    <img src="/media/html5.svg" id="html5">
    <img src="/media/css.svg" id="css3">
    <img src="/media/javascript.svg" id="javascript">
    <img src="/media/jquery.svg" id="jquery">
    <img src="/media/python.svg" id="python">
    <img src="/media/bootstrap.svg" id="bootstrap">
    <img src="/media/git.svg" id="git">
    <img src="/media/postgresql.svg" id="postgresql">
</div>
{% endblock %}