body, html {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    font-family: 'Anton', sans-serif;
}

main {
    display: flex;
}

.navigation {
    width: 55px;
    height: 100vh;
    background: rgb(31, 31, 31);
    z-index: 10;
}

.navigation2 {
    width: 100vw;
    height: 55px;
    background: rgb(31, 31, 31);
    z-index: 10;
    position: fixed;
    top: 0;
    display: none;
}

.logo {
    line-height: 0;
}

.logo a {
    text-decoration: none !important;
}

.logo2 {
    line-height: 0;
    position: fixed;
    left: 2vw;
    top: -20px;
}

.logo2 a {
    text-decoration: none !important;
}

#logo2 {
    text-align: center;
    position: relative;
    left: 4px;
    font-size: 50px;
    color: rgb(90, 180, 253);
    text-shadow: -7px 0px 0px rgb(209, 80, 248);
}

#name {
    color: white;
    text-align: center;
    position: relative;
    top: -15px;
}

#logo {
    text-align: center;
    position: relative;
    left: 4px;
    font-size: 60px;
    color: rgb(90, 180, 253);
    text-shadow: -7px 0px 0px rgb(209, 80, 248);
}

#logo3 {
    text-align: center;
    position: relative;
    left: 4px;
    font-size: 20px;
    color: rgb(90, 180, 253);
    text-shadow: -7px 0px 0px rgb(209, 80, 248);
}

.sections {
    text-align: center;
    position: fixed;
    top: 25%;
    height: 300px;
}

.sections a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 60px;
    margin-bottom: 3vh;
    text-decoration: none;
    color: rgb(90, 180, 253);
}

.sections img {
    width: 25px;
    height: 25px;
}

.sections2 {
    text-align: center;
    position: fixed;
    left: 30%;
    height: 55px;
}

.sections2 a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 55px;
    margin-bottom: 3vh;
    text-decoration: none;
    color: rgb(90, 180, 253);
}

.sections2 img {
    width: 25px;
    height: 25px;
}

.sections3 {
    width: 100vw;
}

.sections3 a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 19%;
    height: 55px;
    text-decoration: none;
    color: rgb(90, 180, 253);
    text-align: center;
}

.sections3 img {
    width: 20%;
    height: 20%;
}

.hamburger {
    position: fixed;
    right: 2vw;
    top: 5px;
    display: none;
}

.hamburger-icon {
    border: none;
    padding: none;
    background: none;
    outline: none !important;
}

.hamburger-icon:hover {
    cursor: pointer;
}

.hamburger-icon img {
    width: 40px;
    height: 40px;
}

.hamburger-icon2 {
    border: none;
    padding: none;
    background: none;
    outline: none !important;
    display: none;
}

.hamburger-icon2 img {
    width: 40px;
    height: 40px;
}

.hamburger-menu {
    width: 100vw;
    height: 55px;
    background: rgb(31, 31, 31);
    position: fixed;
    top: 55px;
    display: none;
}

@keyframes text_fade_in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.sections a:hover span {
    display: none;
}

.sections2 a:hover span {
    display: none;
}

.sections3 a:hover span {
    display: none;
}

#home:hover:after {
    content: 'Home';
    animation: text_fade_in;
    animation-duration: 1s;
}

#about:hover:after {
    content: 'About';
    animation: text_fade_in;
    animation-duration: 1s;
}

#projects:hover:after {
    content: 'Projects';
    animation: text_fade_in;
    animation-duration: 1s;
}

#skills:hover:after {
    content: 'Skills';
    animation: text_fade_in;
    animation-duration: 1s;
}

#contact:hover:after {
    content: 'Contact';
    animation: text_fade_in;
    animation-duration: 1s;
}

.personal-links {
    text-align: center;
    position: fixed;
    bottom: 5%;
    height: 90px;
}

.personal-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px;
    height: 40px;
    text-decoration: none;
    color: rgb(90, 180, 253);
}

.personal-links img {
    width: 20px;
    height: 20px;
}

.personal-links2 {
    text-align: center;
    position: fixed;
    right: 2vw;
    top: 10px;
    height: 55px;
}

.personal-links2 a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 40px;
    text-decoration: none;
    color: rgb(90, 180, 253);
}

.personal-links2 img {
    width: 20px;
    height: 20px;
}

.personal-links a:hover span {
    display: none;
}

#resume:hover:after {
    content: 'Resume';
    animation: text_fade_in;
    animation-duration: 1s;
}

#github:hover:after {
    content: 'Github';
    animation: text_fade_in;
    animation-duration: 1s;
}

#linkedin:hover:after {
    content: 'LinkedIn';
    animation: text_fade_in;
    animation-duration: 1s;
}

.heading {
    position: fixed;
    right: 10vw;
    top: 8vh;
    color: white;
    font-size: 3vw;
    line-height: 0.1;
    text-align: center;
}

.greeting {
    /* text-shadow: 1px 0px 22px rgba(255, 255, 255, 1); */
    text-shadow: -1vw 0px 0px rgb(131, 17, 184);
    display: inline-block;
    animation: jackInTheBox;
    animation-duration: 1s;
}

.name {
    display: inline-block;
    /* text-shadow: 1px 0px 22px rgba(255, 255, 255, 1); */
    text-shadow: 1vw 0px 0px rgb(131, 17, 184);
    animation: fadeInRight;
    animation-duration: 1.5s;
    margin-left: 1vw;
}

#web-developer {
    text-shadow: 0px 0.5vw 0px rgb(131, 17, 184);
    animation: fadeInUp;
    animation-duration: 2s;
}

.main {
    width: calc(100% - 55px);
    height: 100vh;
    background: rgb(108,48,120);
    background: linear-gradient(180deg, rgba(108,48,120,0.3) 15%, rgba(20,47,125,0.6) 60%, rgba(0,20,79,0.6) 100%);
}

#sky {
    height: 75vh;
    background: rgb(108,48,120);
    background: linear-gradient(0deg, rgba(108,48,120,1) 0%, rgba(20,47,125,1) 41%, rgba(0,20,79,1) 100%);
}

@keyframes sky_color {
    from, to {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#sky-about {
    height: 100vh;
    background: rgb(108,48,120);
    background: linear-gradient(0deg, rgba(108,48,120,1) 0%, rgba(20,47,125,1) 0%, rgba(0,20,79,1) 100%);
}

#sky-skills {
    height: 100vh;
    background: rgb(52,140,130);
    background: linear-gradient(0deg, rgba(42,90,105,1) 0%, rgba(33,47,84,1) 100%);
}

#sky-contact {
    height: 100vh;
    /* background: rgb(255,196,0);
    background: linear-gradient(0deg, rgba(255,196,0,1) 0%, rgba(213,179,53,1) 0%, rgba(33,47,84,1) 100%); */
    background: rgb(194,170,44);
    background: linear-gradient(0deg, rgba(194,170,44,1) 0%, rgba(166,152,79,1) 16%, rgba(54,72,135,1) 63%, rgba(33,47,84,1) 100%);
}

.sky-variation {
    background: rgb(105,38,136);
    background: linear-gradient(0deg, rgba(105,38,136,1) 0%, rgba(64,46,136,1) 25%, rgba(33,47,84,1) 100%);
}

#sky-projects {
    height: 100vh;
    background: rgb(52,140,130);
    background: linear-gradient(0deg, rgba(52,140,130,1) 0%, rgba(42,90,105,1) 25%, rgba(33,47,84,1) 100%);
}

#hidden-sky4 {
    position: fixed;
    bottom: 50vh;
    right: 0vw;
}

#sky-projects {
    animation: sky_color 20s linear infinite;
}

.my-projects {
    position: fixed;
    /* left: 45vw;
    top: 100px; */
    color: white;
    width: 100vw;
    top: 50px;
    left: 0;
    text-align: center;
    z-index: 8;
}

.my-projects h1 {
    font-size: 4vw;
    color: rgb(209, 80, 248);
    animation: backInDown 1s;
    line-height: 0.2;
}

.ground {
    position: relative;
    top: -15vh;
    z-index: 6;
}

.shadow {
    position: fixed;
    bottom: 10vh;
    width: calc(100% - 55px);
    z-index: 1;
}

#wave {
    height: 15vh;
}

#wave-reflection {
    height: 15vh;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
    position: relative;
    z-index: 2;
}

#wave2 {
    height: 30vh;
    /* width: 40vw; */
    position: relative;
    top: 45vh;
    right: -4vw;
}

#wave3 {
    height: 50vh;
    width: 44vw;
    position: relative;
    top: -6vh;
    z-index: 6;
}

#land {
    height: 25vh;
    background: rgb(108,48,120);
    background: linear-gradient(180deg, rgba(108,48,120,0.1) 0%, rgba(20,47,125,0.8) 60%, rgba(0,20,79,0.8) 100%);
    position: relative;
    z-index: 6;
}

#trees {
    position: fixed;
    /* top: -20vh;
    left: 50vw; */
    left: 3px;
    bottom: 32vh;
    width:10vw;
    height: auto;
    z-index: 6;
}

#trees-reflection {
    position: fixed;
    /* bottom: 3vh; */
    top: 81.5vh;
    width:10vw;
    height: auto;
    left: 3px;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

#trees2 {
    position: fixed;
    bottom: 31vh;
    left: 9vw;
    /* left: -47vw; */
    width: 10vw;
    height: auto;
    z-index: 6;
}

#trees2-reflection {
    position: fixed;
    width:10vw;
    height: auto;
    left: 9vw;
    top: 80.5vh;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

#trees3 {
    position: fixed;
    bottom: 26vh;
    right: -1vw;
    width: 10vw;
    height: auto;
    z-index: 6;
}

#trees3-reflection {
    position: fixed;
    top: 75.5vh;
    right: -1vw;
    width:10vw;
    height: auto;
    -moz-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    transform: scaleY(-1);
}

#trees4 {
    position: fixed;
    /* top: -114vh;
    left: 1vw; */
    bottom: 27vh;
    right: 7vw;
    width: 10vw;
    height: auto;
    z-index: 6;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#trees4-reflection {
    position: fixed;
    top: 76.5vh;
    right: 7vw;
    width:10vw;
    height: auto;
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1);
}

#trees5 {
    position: relative;
    top: -40vh;
    left: -42vw;
    /* top: 31.5vh; */
    /* left: 5vw; */
    width: 5vw;
    height: auto;
    z-index: 6;
}

#trees6 {
    position: relative;
    /* top: 34.3vh;
    left: 8vw; */
    top: -37vh;
    left: -44vw;
    width: 5vw;
    height: auto;
    z-index: 6;
}

#trees7 {
    position: relative;
    /* top: 39vh;
    left: 12vw; */
    top: -32vh;
    left: -45vw;
    width: 5vw;
    height: auto;
    z-index: 6;
}

#trees8 {
    position: relative;
    /* top: 40.55vh;
    left: 16vw; */
    top: -34vh;
    left: -53vw;
    width: 5vw;
    height: auto;
    z-index: 6;
}

#trees9 {
    position: relative;
    /* top: 30vh;
    left: 3vw; */
    top: -44vh;
    left: -67vw;
    width: 5vw;
    height: auto;
    z-index: 6;
}

#trees10 {
    position: fixed;
    left: 2vw;
    bottom: 10vh;
    width: 20vw;
    height: auto;
}

#trees11 {
    position: fixed;
    right: 0vw;
    bottom: 6vh;
    width: 20vw;
    height: auto;
}

#trees12 {
    position: fixed;
    left: 16vw;
    bottom: 7vh;
    width: 20vw;
    height: auto;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#trees13 {
    position: fixed;
    right: 16vw;
    bottom: 5vh;
    width: 20vw;
    height: auto;
}

#barn {
    position: fixed;
    bottom: 1vh;
    left: 40vw;
    width: 300px;
    height: 300px;
}

#barn-light {
    position: fixed;
    bottom: calc(1vh + 65px);
    left: calc(40vw + 40px);
    height: 15px;
    width: 15px;
    background: yellow;
    animation: illuminate 2s linear infinite;
}

#barn-light2 {
    position: fixed;
    bottom: calc(1vh + 120px);
    left: calc(40vw + 130px);
    height: 40px;
    width: 40px;
    background: yellow;
    animation: illuminate 2s linear infinite;
    animation-delay: 1s;
}

#trees14 {
    position: fixed;
    right: 30vw;
    bottom: 5vh;
    width: 20vw;
    height: auto;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#trees15 {
    position: fixed;
    left: 34vw;
    bottom: 4vh;
    width: 20vw;
    height: auto;
}

#windmill {
    /* width: 6vw;
    height: auto; */
    width: 110px;
    height: 110px;
    position: fixed;
    bottom: 46.5vh;
    right: 20vw;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
}

#propeller {
    /* width: 4vw;
    height: auto; */
    width: 70px;
    height: 70px;
    position: fixed;
    bottom: calc(46.5vh + 65px);
    right: calc(20vw + 20px);
    animation: spin 10s linear infinite;
}

@keyframes illuminate {
    from, to {
        background: rgb(206, 206, 53);
    }
    50% {
        background: yellow;
        -webkit-box-shadow: 1px 2px 10px 1px yellow; 
        box-shadow: 1px 2px 10px 1px yellow;
    }

    100% {
        background: rgb(206, 206, 53);
    }
}

#windmill-light {
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: rgb(206, 206, 53);
    /* -webkit-box-shadow: 1px 2px 10px 1px yellow; 
    box-shadow: 1px 2px 10px 1px yellow; */
    position: fixed;
    bottom: calc(46.5vh + 55px);
    right: calc(20vw + 52px);
    animation: illuminate 2s linear infinite;
}

#moon-div {
    position: fixed;
    top: 10vh;
    right: 10vw;
    border-radius: 50%;
    background: yellow;
}

@keyframes moon_pulse {
    from, to {
        box-shadow: -1px 2px 32px 5px rgba(255,255,255,0.83), 0 0 0 4vw rgb(108,48,120, 0.1), 0 0 0 8vw rgb(108,48,120, 0.1), 0 0 0 12vw rgb(108,48,120, 0.1), 0 0 0 16vw rgb(108,48,120, 0.1);
    }
    50% {
        box-shadow: -1px 2px 32px 5px rgba(255,255,255,0.83), 0 0 0 6vw rgb(108,48,120, 0.1), 0 0 0 12vw rgb(108,48,120, 0.1), 0 0 0 16vw rgb(108,48,120, 0.1), 0 0 0 20vw rgb(108,48,120, 0.1);
    }

    100% {
        box-shadow: -1px 2px 32px 5px rgba(255,255,255,0.83), 0 0 0 4vw rgb(108,48,120, 0.1), 0 0 0 8vw rgb(108,48,120, 0.1), 0 0 0 12vw rgb(108,48,120, 0.1), 0 0 0 16vw rgb(108,48,120, 0.1);
    }
  }

#moon {
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    z-index: 5;
    position: fixed;
    top: 10vh;
    left: 15vw;
    box-shadow: 0 0 0 4vw rgba(108,48,120, 0.1), 0 0 0 8vw rgb(108,48,120, 0.1), 0 0 0 12vw rgb(108,48,120, 0.1), 0 0 0 16vw rgb(108,48,120, 0.1);
    animation: fadeIn 2s, moon_pulse 3s linear infinite, spin 30s linear infinite;
}

@keyframes moon_pulse_color {
    from, to {
        box-shadow: -1px 2px 32px 5px rgba(255,255,255,0.83), 0 0 0 4vw rgba(120, 115, 48, 0.1), 0 0 0 8vw rgb(120, 115, 48, 0.1), 0 0 0 12vw rgb(120, 115, 48, 0.1), 0 0 0 16vw rgb(120, 115, 48, 0.1);
    }

    50% {
        box-shadow: -1px 2px 32px 5px rgba(255,255,255,0.83), 0 0 0 6vw rgba(120, 115, 48, 0.1), 0 0 0 12vw rgb(120, 115, 48, 0.1), 0 0 0 16vw rgb(120, 115, 48, 0.1), 0 0 0 20vw rgb(120, 115, 48, 0.1);
    }

    100% {
        box-shadow: -1px 2px 32px 5px rgba(255,255,255,0.83), 0 0 0 4vw rgb(120, 115, 48, 0.1), 0 0 0 8vw rgb(120, 115, 48, 0.1), 0 0 0 12vw rgb(120, 115, 48, 0.1), 0 0 0 16vw rgb(120, 115, 48, 0.1);
    }
}

@keyframes moon_pulse_color2 {
    from, to {
        box-shadow: -1px 2px 32px 5px rgba(255,255,255,0.83), 0 0 0 4vw rgba(52,140,130, 0.1), 0 0 0 8vw rgb(52,140,130, 0.1), 0 0 0 12vw rgb(52,140,130, 0.1), 0 0 0 16vw rgb(52,140,130, 0.1);
    }

    50% {
        box-shadow: -1px 2px 32px 5px rgba(255,255,255,0.83), 0 0 0 6vw rgba(52,140,130, 0.1), 0 0 0 12vw rgb(52,140,130, 0.1), 0 0 0 16vw rgb(52,140,130, 0.1), 0 0 0 20vw rgb(52,140,130, 0.1);
    }

    100% {
        box-shadow: -1px 2px 32px 5px rgba(255,255,255,0.83), 0 0 0 4vw rgb(52,140,130, 0.1), 0 0 0 8vw rgb(52,140,130, 0.1), 0 0 0 12vw rgb(52,140,130, 0.1), 0 0 0 16vw rgb(52,140,130, 0.1);
    }
}

@keyframes moon_pulse_color3 {
    from, to {
        box-shadow: -1px 2px 32px 5px rgba(255,255,255,0.83), 0 0 0 4vw rgba(212, 181, 0, 0.1), 0 0 0 8vw rgb(212, 181, 0, 0.1), 0 0 0 12vw rgb(212, 181, 0, 0.1), 0 0 0 16vw rgb(212, 181, 0, 0.1);
    }

    50% {
        box-shadow: -1px 2px 32px 5px rgba(255,255,255,0.83), 0 0 0 6vw rgba(212, 181, 0, 0.1), 0 0 0 12vw rgb(212, 181, 0, 0.1), 0 0 0 16vw rgb(212, 181, 0, 0.1), 0 0 0 20vw rgb(212, 181, 0, 0.1);
    }

    100% {
        box-shadow: -1px 2px 32px 5px rgba(255,255,255,0.83), 0 0 0 4vw rgb(212, 181, 0, 0.1), 0 0 0 8vw rgb(212, 181, 0, 0.1), 0 0 0 12vw rgb(212, 181, 0, 0.1), 0 0 0 16vw rgb(212, 181, 0, 0.1);
    }
}

#moon2 {
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    z-index: 5;
    position: fixed;
    top: 10vh;
    right: 15vw;
    box-shadow: 0 0 0 4vw rgba(108,48,120, 0.1), 0 0 0 8vw rgb(108,48,120, 0.1), 0 0 0 12vw rgb(108,48,120, 0.1), 0 0 0 16vw rgb(108,48,120, 0.1);
    animation: fadeIn 2s, spin 30s linear infinite, moon_pulse_color linear infinite 3s;
}

#moon3 {
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    z-index: 5;
    position: fixed;
    top: 10vh;
    right: 15vw;
    box-shadow: 0 0 0 4vw rgba(108,48,120, 0.1), 0 0 0 8vw rgb(108,48,120, 0.1), 0 0 0 12vw rgb(108,48,120, 0.1), 0 0 0 16vw rgb(108,48,120, 0.1);
    animation: fadeIn 2s, spin 30s linear infinite, moon_pulse_color2 linear infinite 3s;
}

#moon4 {
    border-radius: 50%;
    width: 10vw;
    height: 10vw;
    z-index: 0;
    position: fixed;
    top: 10vh;
    right: 15vw;
    box-shadow: 0 0 0 4vw rgba(108,48,120, 0.1), 0 0 0 8vw rgb(108,48,120, 0.1), 0 0 0 12vw rgb(108,48,120, 0.1), 0 0 0 16vw rgb(108,48,120, 0.1);
    animation: fadeIn 2s, spin 30s linear infinite, moon_pulse_color3 linear infinite 3s;
}

@keyframes shine {
    from, to {
        width: 5px;
        height: 5px;
    }
    50% {
        transform: scale(2.5, 2.5);
    }

    100% {
        width: 5px;
        height: 5px;
    }
  }

@keyframes blink {
    from, to {
        opacity: 1;
    }
    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

#star1 {
    width: 10px;
    height: 10px;
    position: fixed;
    right: 10vw;
    top: 4vh;
    animation: shine 1s linear infinite;
}

#star2 {
    width: 10px;
    height: 10px;
    position: fixed;
    right: 12vw;
    top: 2vh;
    animation: shine 1s linear infinite;
}

#star3 {
    width: 10px;
    height: 10px;
    position: fixed;
    right: 30vw;
    top: 14vh;
    animation: shine 1s linear infinite;
}

#star4 {
    width: 10px;
    height: 10px;
    position: fixed;
    right: 14vw;
    top: 40vh;
    animation: shine 1s linear infinite;
}

#star5 {
    width: 10px;
    height: 10px;
    position: fixed;
    right: 62vw;
    top: 7vh;
    animation: shine 1s linear infinite;
}

#star6 {
    width: 10px;
    height: 10px;
    position: fixed;
    right: 21vw;
    top: 21vh;
    animation: shine 1s linear infinite;
}

#star7 {
    width: 10px;
    height: 10px;
    position: fixed;
    right: 28vw;
    top: 11vh;
    animation: shine 1s linear infinite;
}

#star8 {
    width: 10px;
    height: 10px;
    position: fixed;
    right: 41vw;
    top: 12vh;
    animation: shine 1s linear infinite;
}

#star9 {
    width: 10px;
    height: 10px;
    position: fixed;
    right: 33vw;
    top: 35vh;
    animation: shine 1s linear infinite;
    animation-delay: -0.5s;
}

#star10 {
    width: 10px;
    height: 10px;
    position: fixed;
    right: 63vw;
    top: 41vh;
    animation: shine 1s linear infinite;
    animation-delay: -0.5s;
}

#star11 {
    width: 10px;
    height: 10px;
    position: fixed;
    right: 50vw;
    top: 25vh;
    animation: shine 1s linear infinite;
    animation-delay: -0.5s;
}

#star12 {
    width: 10px;
    height: 10px;
    position: fixed;
    right: 81vw;
    top: 41vh;
    animation: shine 1s linear infinite;
    animation-delay: -0.5s;
}

#star13 {
    width: 10px;
    height: 10px;
    position: fixed;
    right: 91vw;
    top: 24vh;
    animation: shine 1s linear infinite;
    animation-delay: -0.5s;
}

#star14 {
    width: 10px;
    height: 10px;
    position: fixed;
    right: 93vw;
    top: 15vh;
    animation: shine 1s linear infinite;
    animation-delay: -0.5s;
}

#star15 {
    width: 10px;
    height: 10px;
    position: fixed;
    right: 45vw;
    top: 59vh;
    animation: shine 1s linear infinite;
    animation-delay: -0.5s;
}

#star16 {
    width: 10px;
    height: 10px;
    position: fixed;
    right: 3vw;
    top: 50vh;
    animation: shine 1s linear infinite;
    animation-delay: -0.5s;
}

#star17 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: fixed;
    right: 6vw;
    top: 24vh;
    animation: blink 1s linear infinite;
    animation-delay: -0.5s;
}

#star18 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: fixed;
    right: 12vw;
    top: 10vh;
    animation: blink 1s linear infinite;
    animation-delay: -0.5s;
}

#star19 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: fixed;
    right: 10vw;
    top: 32vh;
    animation: blink 1s linear infinite;
}

#star20 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: fixed;
    right: 31vw;
    top: 27vh;
    animation: blink 1s linear infinite;
}

#star21 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: fixed;
    right: 61vw;
    top: 42vh;
    animation: blink 1s linear infinite;
    animation-delay: -0.5s;
}

#star22 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: fixed;
    right: 90vw;
    top: 24vh;
    animation: blink 1s linear infinite;
    animation-delay: -0.5s;
}

#star23 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: fixed;
    right: 92vw;
    top: 10vh;
    animation: blink 1s linear infinite;
    animation-delay: -0.5s;
}

#star24 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: fixed;
    right: 74vw;
    top: 19vh;
    animation: blink 1s linear infinite;
}

#star25 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: fixed;
    right: 52vw;
    top: 32vh;
    animation: blink 1s linear infinite;
    animation-delay: -0.5s;
}

#star26 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: fixed;
    right: 39vw;
    top: 38vh;
    animation: blink 1s linear infinite;
}

#star27 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: fixed;
    right: 35vw;
    top: 39vh;
    animation: blink 1s linear infinite;
}

#star28 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: fixed;
    right: 12vw;
    top: 34vh;
    animation: blink 1s linear infinite;
    animation-delay: -0.5s;
}

#star29 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: fixed;
    right: 67vw;
    top: 14vh;
    animation: blink 1s linear infinite;
}

#star30 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: fixed;
    right: 63vw;
    top: 21vh;
    animation: blink 1s linear infinite;
    animation-delay: -0.5s;
}

#star31 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: fixed;
    right: 55vw;
    top: 9vh;
    animation: blink 1s linear infinite;
}

#star32 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: fixed;
    right: 61vw;
    top: 30vh;
    animation: blink 1s linear infinite;
    animation-delay: -0.5s;
}

/* #star33 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: fixed;
    right: 61vw;
    bottom: 11vh;
    animation: blink 1s linear infinite;
    animation-delay: -0.5s;
} */

#star33 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 10vw;
    top: 4vh;
    animation: shine 1s linear infinite;
}

#star34 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 12vw;
    top: 2vh;
    animation: shine 1s linear infinite;
}

#star35 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 30vw;
    top: 14vh;
    animation: shine 1s linear infinite;
}

#star36 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 14vw;
    top: 40vh;
    animation: shine 1s linear infinite;
}

#star37 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 62vw;
    top: 7vh;
    animation: shine 1s linear infinite;
}

#star38 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 21vw;
    top: 21vh;
    animation: shine 1s linear infinite;
}

#star39 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 28vw;
    top: 11vh;
    animation: shine 1s linear infinite;
}

#star40 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 41vw;
    top: 12vh;
    animation: shine 1s linear infinite;
}

#star41 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 33vw;
    top: 35vh;
    animation: shine 1s linear infinite;
    animation-delay: -0.5s;
}

#star42 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 63vw;
    top: 41vh;
    animation: shine 1s linear infinite;
    animation-delay: -0.5s;
}

#star43 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 50vw;
    top: 25vh;
    animation: shine 1s linear infinite;
    animation-delay: -0.5s;
}

#star44 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 81vw;
    top: 41vh;
    animation: shine 1s linear infinite;
    animation-delay: -0.5s;
}

#star45 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 91vw;
    top: 24vh;
    animation: shine 1s linear infinite;
    animation-delay: -0.5s;
}

#star46 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 93vw;
    top: 15vh;
    animation: shine 1s linear infinite;
    animation-delay: -0.5s;
}

#star47 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 45vw;
    top: 59vh;
    animation: shine 1s linear infinite;
    animation-delay: -0.5s;
}

#star48 {
    width: 10px;
    height: 10px;
    position: absolute;
    right: 3vw;
    top: 50vh;
    animation: shine 1s linear infinite;
    animation-delay: -0.5s;
}

#star49 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: 6vw;
    top: 24vh;
    animation: blink 1s linear infinite;
    animation-delay: -0.5s;
}

#star50 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: 12vw;
    top: 10vh;
    animation: blink 1s linear infinite;
    animation-delay: -0.5s;
}

#star51 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: 10vw;
    top: 32vh;
    animation: blink 1s linear infinite;
}

#star52 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: 31vw;
    top: 27vh;
    animation: blink 1s linear infinite;
}

#star53 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: 61vw;
    top: 42vh;
    animation: blink 1s linear infinite;
    animation-delay: -0.5s;
}

#star54 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: 90vw;
    top: 24vh;
    animation: blink 1s linear infinite;
    animation-delay: -0.5s;
}

#star55 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: 92vw;
    top: 10vh;
    animation: blink 1s linear infinite;
    animation-delay: -0.5s;
}

#star56 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: 74vw;
    top: 19vh;
    animation: blink 1s linear infinite;
}

#star57 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: 52vw;
    top: 32vh;
    animation: blink 1s linear infinite;
    animation-delay: -0.5s;
}

#star58 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: 39vw;
    top: 38vh;
    animation: blink 1s linear infinite;
}

#star59 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: 35vw;
    top: 39vh;
    animation: blink 1s linear infinite;
}

#star60 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: 12vw;
    top: 34vh;
    animation: blink 1s linear infinite;
    animation-delay: -0.5s;
}

#star61 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: 67vw;
    top: 14vh;
    animation: blink 1s linear infinite;
}

#star62 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: 63vw;
    top: 21vh;
    animation: blink 1s linear infinite;
    animation-delay: -0.5s;
}

#star63 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: 55vw;
    top: 9vh;
    animation: blink 1s linear infinite;
}

#star64 {
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: white;
    position: absolute;
    right: 61vw;
    top: 30vh;
    animation: blink 1s linear infinite;
    animation-delay: -0.5s;
}

@keyframes rock {
    from, to {
        -moz-transform: rotate(-5deg);
        -o-transform: rotate(-5deg);
        -webkit-transform: rotate(-5deg);
        transform: rotate(-5deg);
    }
    50% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes rock-shadow {
    from, to {
        -moz-transform: rotate(-5deg) scaleY(-1);
        -o-transform: rotate(-5deg) scaleY(-1);
        -webkit-transform: rotate(-5deg) scaleY(-1);
        transform: rotate(-5deg) scaleY(-1);
    }
    50% {
        -moz-transform: rotate(0deg) scaleY(-1);
        -o-transform: rotate(0deg) scaleY(-1);
        -webkit-transform: rotate(0deg) scaleY(-1);
        transform: rotate(0deg) scaleY(-1);
    }
}

#boat {
    position: fixed;
    /* width: 10vw;
    height: auto; */
    width: 175px;
    height: 175px;
    bottom: 5vh;
    left: 30vw;
    animation: rock 3s linear infinite;
}

#boat-shadow {
    position: fixed;
    /* width: 10vw;
    height: auto; */
    width: 175px;
    height: 175px;
    left: 30vw;
    bottom: 3.3vh;
    animation: rock-shadow 3s linear infinite;
}

#house {
    width: 10vw;
    height: auto;
    position: fixed;
    bottom: 32.5vh;
    left: 65vw;
}

#house-light {
    width: 1.5vw;
    height: 1.5vw;
    background: rgb(206, 206, 53);
    position: fixed;
    bottom: calc(38vh);
    left: calc(67vw);
    animation: illuminate 2s linear infinite;
}

#house-light2 {
    width: 1.5vw;
    height: 1.5vw;
    background: rgb(206, 206, 53);
    position: fixed;
    bottom: calc(38vh);
    left: calc(71.3vw);
    animation: illuminate 2s linear infinite;
}

@keyframes shooting {
    from {
        left: 0;
        top: 10%;
    }

    to {
        -moz-transform: translateX(20vw);
        -o-transform: translateX(20vw);
        -webkit-transform: translateX(20vw);
        transform: translateX(20vw);
        opacity: 0;
    }
}

@keyframes shooting2 {
    from {
        left: 0;
        top: 25%;
        visibility: unset;
    }
    to {
        -moz-transform: translateX(20vw);
        -o-transform: translateX(20vw);
        -webkit-transform: translateX(20vw);
        transform: translateX(20vw);
        opacity: 0;
    }
}

@keyframes shooting3 {
    from {
        left: 20%;
        top: 40%;
        visibility: unset;
    }
    to {
        -moz-transform: translateX(20vw);
        -o-transform: translateX(20vw);
        -webkit-transform: translateX(20vw);
        transform: translateX(20vw);
        opacity: 0;
    }
}

@keyframes shooting4 {
    from {
        left: 60%;
        top: 0;
        visibility: unset;
    }
    to {
        -moz-transform: translateX(20vw);
        -o-transform: translateX(20vw);
        -webkit-transform: translateX(20vw);
        transform: translateX(20vw);
        opacity: 0;
    }
}

@keyframes shooting5 {
    from {
        left: 35%;
        top: 45%;
        visibility: unset;
    }
    to {
        -moz-transform: translateX(20vw);
        -o-transform: translateX(20vw);
        -webkit-transform: translateX(20vw);
        transform: translateX(20vw);
        opacity: 0;
    }
}

.star-container {
    position: fixed;
    background: transparent;
    width: 50vw;
    height: 50vw;
    -moz-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    left: 20vw;
    top: 10vh;
}


.shooting-star {
    position: absolute;
    height: 1px;
    width: 15%;
    left: 0;
    top: 10%;
    background: white;
    animation: shooting 0.3s linear;
}

.shooting-star2 {
    position: absolute;
    height: 1px;
    width: 15%;
    left: 0;
    top: 25%;
    background: white;
    animation: shooting2 0.3s linear;
    animation-delay: 1.3s;
    visibility: hidden;
}

.shooting-star3 {
    position: absolute;
    height: 1px;
    width: 15%;
    left: 20%;
    top: 40%;
    background: white;
    animation: shooting3 0.3s linear;
    animation-delay: 1.7s;
    visibility: hidden;
}

.shooting-star4 {
    position: absolute;
    height: 1px;
    width: 15%;
    left: 60%;
    top: 0%;
    background: white;
    animation: shooting4 0.3s linear;
    animation-delay: 3s;
    visibility: hidden;
}

.shooting-star5 {
    position: absolute;
    height: 1px;
    width: 15%;
    left: 35%;
    top: 45%;
    background: white;
    animation: shooting5 0.3s linear;
    animation-delay: 4s;
    visibility: hidden;
}

.about-me {
    position: absolute;
    top: 25%;
    left: 10%;
    color: white;
    font-size: 2vw;
    width: 30vw;
}

@keyframes counter_spin {
    from {
        transform: rotate(360deg);
    }
    
    to {
        transform: rotate(0deg);
    }
}

.skills {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: white;
    font-size: 2vw;
    width: 50vw;
    height: 50vw;
    border-radius: 50%;
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: spin 40s linear infinite;
    z-index: 10;
}

.skills img {
    animation: spin 40s linear infinite;
    animation-direction: reverse;
}

.skills h1 {
    color: rgb(209, 80, 248);
    animation: bounceInLeft 1s, counter_spin 40s linear infinite;
    border-radius: 50%;
}

#html5 {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 0;
}

#css3 {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
}

#javascript {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 0;
}

#jquery {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
}

#python {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 15%;
    left: 10%;
}

#bootstrap {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 15%;
    right: 10%;
}

#git {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 15%;
    right: 10%;
}

#postgresql {
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 15%;
    left: 10%;
}

.about-me h1 {
    color: rgb(209, 80, 248);
    animation: bounceInLeft 1s;
}

.description {
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
}

#ground-projects {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#wave-projects {
    height: 20vh;
    position: fixed;
    bottom: 0;
}

#ground-contact {
    position: fixed;
    bottom: 0;
    width: 100%;
}

#wave-contact {
    height: 20vh;
    position: fixed;
    bottom: 0;
}

#satellite-base {
    position: fixed;
    width: 12vw;
    height: auto;
    bottom: 11vh;
    left: 50vw;
}

@keyframes moving_satellite {
    from, to {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

#satellite-dish {
    position: fixed;
    width: 10vw;
    height: auto;
    bottom: 12vh;
    left: 51.3vw;
    border-radius: 50%;
    animation: moving_satellite 5s linear infinite;
}

#contact-me {
    position: fixed;
    left: 10vw;
    top: 25vh;
    font-size: 2vw;
}

#contact-me h1 {
    color: rgb(209, 80, 248);
    line-height: 0.1;
}

#message-form input {
    padding: 20px;
    width: 30vw;
    margin-bottom: 10px;
    background: rgb(37, 37, 37);
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
}

#body {
    padding: 20px;
    background: rgb(37, 37, 37);
    border: none;
    outline: none;
    color: white;
    font-size: 16px;
    font-family: Arial;
    width: 30vw; 
    height: 200px;
}

#submit-message {
    float: right;
    padding: 10px 30px;
    font-size: 20px;
    border: none;
    outline: none;
    color: rgb(209, 80, 248);
    border: 2px solid rgb(209, 80, 248);
    background: rgb(37, 37, 37);
    cursor: pointer;
}

#submit-message:hover {
    color: white;
    background: rgb(209, 80, 248);
}

#alert {
    position: fixed;
    width: 50vw;
    bottom: 10px;
    z-index: 1;
    border: 3px solid rgb(209, 80, 248);
    border-radius: 10px;
    left: 50%;
    transform: translate(-50%);
    z-index: 8;
    color: rgb(209, 80, 248);
    padding: 20px;
    font-size: 20px;
}

#alert button {
    outline: none !important;
    background: transparent;
    float: right;
    color: white;
    border: none;
    cursor: pointer;
}

#x {
    font-size: 30px;
}

#covid-project {
    width: 30vw;
    height: 30vw;
    position: fixed;
    left: 18%;
    top: 15vh;
    cursor: pointer;
    border-radius: 50%;
    z-index: 8;
}

#covid-logo {
    width: 20vw;
    height: 20vw;
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.covid-description {
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.covid-description h1 {
    color: white;
    animation: none;
}

.covid-description button {
    outline: none;
    border: none;
    background: rgb(37, 37, 37);
    border: 1px solid rgb(209, 80, 248);
    padding: 5px;
    border-radius: 20px;
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

/* .covid-description button:hover {
    background: rgb(209, 80, 248);
    color: white;
} */

#covid-site a {
    text-decoration: none;
    color: rgb(209, 80, 248);
    font-size: 16px;
    display: inline-block;
    width: 100%;
}

#covid-code a {
    text-decoration: none;
    color: rgb(209, 80, 248);
    font-size: 16px;
    display: inline-block;
    width: 100%;
}

#spacehut-site a {
    text-decoration: none;
    color: rgb(209, 80, 248);
    font-size: 16px;
    display: inline-block;
    width: 100%;
}

#spacehut-code a {
    text-decoration: none;
    color: rgb(209, 80, 248);
    font-size: 16px;
    display: inline-block;
    width: 100%;
}

#site {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#code {
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

#spacehut-project {
    width: 30vw;
    height: 30vw;
    position: fixed;
    right: 18%;
    top: 15vh;
    border-radius: 50%;
    z-index: 8;
}

#spacehut-logo {
    width: 20vw;
    height: 20vw;
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.spacehut-description button {
    outline: none;
    border: none;
    background: rgb(37, 37, 37);
    border: 1px solid rgb(209, 80, 248);
    padding: 5px;
    border-radius: 20px;
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.spacehut-description {
    position: absolute;
    top: 0%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    text-align: center;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.spacehut-description h1 {
    color: white;
    animation: none;
}

@media only screen and (max-width: 600px) {
    #windmill {
        width: 80px;
        height: 80px;
        right: 15vw;
    }
   
    #propeller {
        width: 60px;
        height: 60px;
        bottom: calc(46.5vh + 42px);
        right: calc(15vw + 10px);
    }

    #windmill-light {
        bottom: calc(46.5vh + 40px);
        right: calc(15vw + 37px);
    }

    #boat {
        width: 100px;
        height: 100px;
    }
    
    #boat-shadow {
        width: 100px;
        height: 100px;
        bottom: 3.6vh;
    }

    .heading {
        font-size: 4vw;
        top: 12vh;
        right: 5vw;
    }

    .hamburger {
        display: inline-block;
    }

    .sections2 {
        display: none;
    }

    .personal-links2 {
        right: 80px;
    }

    .about-me h1 {
        font-size: 10vw;
    }

    .description p {
        font-size: 3vw;
    }

    #barn {
        width: 150px;
        height: 150px;
        left: 35vw;
        bottom: 3vh;
    }

    #barn-light {
        bottom: calc(3vh + 30px);
        left: calc(35vw + 18px);
        height: 10px;
        width: 10px;
    }
    
    #barn-light2 {
        bottom: calc(3vh + 55px);
        left: calc(35vw + 60px);
        height: 25px;
        width: 25px;
    }

    .my-projects h1 {
        font-size: 8vw;
    }

    #html5 {
        width: 70px;
        height: 70px;
    }
    
    #css3 {
        width: 70px;
        height: 70px;
    }
    
    #javascript {
        width: 70px;
        height: 70px;
    }
    
    #jquery {
        width: 70px;
        height: 70px;
    }
    
    #python {
        width: 70px;
        height: 70px;
    }
    
    #bootstrap {
        width: 70px;
        height: 70px;
    }
    
    #git {
        width: 70px;
        height: 70px;
    }
    
    #postgresql {
        width: 70px;
        height: 70px;
    }

    #contact-me h1 {
        font-size: 5vw;
    }

    #covid-project {
        width: 60vw;
        height: 60vw;
        left: 0;
        right: 0;
        margin: auto;
        top: 20vh;
    }

    #spacehut-project {
        width: 60vw;
        height: 60vw;
        left: 0;
        right: 0;
        margin: auto;
        top: 50vh;
    }
}

@media only screen and (max-width: 962px) {
    .navigation {
        display: none;
    }
    .navigation2 {
        display: inline-block;
    }
    .main {
        width: 100vw;
    }
    .shadow {
        width: 100%;
    }
    #moon {
        top: 15vh;
        width: 20vw;
        height: 20vw;
    }
    .heading {
        top: 15vh;
    }

    #trees9 {
        top: -42vh;
    }

    #moon2 {
        top: 15vh;
        width: 20vw;
        height: 20vw;
    }

    #moon3 {
        top: 15vh;
        width: 20vw;
        height: 20vw;
    }

    #moon4 {
        top: 15vh;
        width: 20vw;
        height: 20vw;
    }


    .about-me {
        font-size: 3vw;
        width: 50vw;
        top: calc(25vh + 55px);
    }

    .description {
        font-size: 2vw;
    }

    .my-projects {
        top: 80px;
    }

    .skills {
        width: 80vw;
        height: 80vw;
        font-size: 3vw;
    }

    #satellite-base {
        width: 150px;
        height: 150px;
        bottom: 11vh;
        left: 50vw;
    }

    #satellite-dish {
        width: 130px;
        height: 130px;
        bottom: 12vh;
        left: 51.3vw;
        border-radius: 50%;
        animation: moving_satellite 5s linear infinite;
    }
    
    #message-form input {
        width: 50vw;
    }

    #body {
        width: 50vw;
    }
}

@media (max-width:962px) and (min-width:601px) {
    #barn {
        width: 200px;
        height: 200px;
    }

    #barn-light {
        bottom: calc(1vh + 45px);
        left: calc(40vw + 25px);
        height: 10px;
        width: 10px;
    }
    
    #barn-light2 {
        bottom: calc(1vh + 80px);
        left: calc(40vw + 80px);
        height: 30px;
        width: 30px;
    }

    .my-projects h1 {
        font-size: 6vw;
    }

    #covid-project {
        width: 40vw;
        height: 40vw;
        left: 10%;
    }

    #spacehut-project {
        width: 40vw;
        height: 40vw;
        right: 10%;
    }
}

@media (max-width:414px) {
    .covid-description h1 {
        font-size: 5vw;
    }

    .spacehut-description h1 {
        font-size: 5vw;
    }

    .covid-description button {
        width: 100px;
    }

    .spacehut-description button {
        width: 100px;
    }
}